@page
@model HealthDeptApp.Pages.Establishments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Establishment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.HasLiquorLicense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.HasLiquorLicense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.OpenDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.OpenDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.ClosedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.ClosedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Establishment.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
